rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cada alumne només pot escriure la seva empresa; tothom (amb sessió) pot llegir per a la classificació.
    match /empreses/{uid} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
        && request.auth.uid == uid
        && request.resource.data.nom is string
        && request.resource.data.nom.size() <= 30
        && request.resource.data.diners is number;
      allow delete: if false;
    }
  }
}
